<div class="select-bar-list" fxLayoutWrap fxLayout="column" fxFlexFill fxLayoutGap = "8%">
    <div fxFlex = "1 1 1%" style = "background-color:gray">
    </div>
  	<button mat-button class="select-bar-btn" [routerLink]="['/savedProjects']" fxFlex = "1 1 21%" fxFlexFill fxFlexOffset = "100%" >Projects</button>
  	<button mat-button class="select-bar-btn" [routerLink]="['/dataSource']"  fxFlex = "1 1 21%" fxFlexFill>Data Sources</button>
    <button mat-button class="select-bar-btn" [routerLink]="['/runningJobs']" fxFlex = "1 1 21%" fxFlexFill>Running Jobs</button>
  	<button mat-button class="select-bar-btn" [routerLink]="['/resource']" fxFlex = "1 1 21%" fxFlexFill>Resources</button>
</div>